.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
  background-color: rgb(142, 6, 6);
  margin-top: 0;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  color: black;
}
.menu li a:hover {
  text-shadow: 3px -4px 2px rgba(0, 0, 0, 0.46);
}
